{% extends 'layout.twig' %}

{% set nav = 'others' %}

{% block component %}
    <div class="row">
        <div class="col-md-12">
            <h1>MySQL Tuner</h1>
            <hr>
            <div class="alert alert-success">
                <span class="fa fa-info-circle">
                </span>
                The MySQL Tuner was initiated successfully.
            </div>
        </div>
    </div>
{% endblock %}
