{% macro buttons() %}
    <div class="form-actions form-group">
        <button
            class="btn btn-danger pull-right"
            type="reset"
            >
            <span class="fa fa-circle-o"></span>
            Reset
        </button>
        <button
            class="btn btn-success pull-right"
            type="submit"
            >
            <span class="fa fa-dot-circle-o"></span>
            Submit
        </button>
    </div>
{% endmacro %}
